.marquee {
  background-color: green
}

.player-photo {
  width: 4rem;
  border-radius: 2rem;
}

.players-select-photo {
  width: 2rem;
  border-radius: 1rem;
}

.player-number {
  font-size: 2rem;
}

.player-name {
  font-size: 1.5rem;
}

.player-team {
  font-size: 1rem;
}

.opponent-team {
  font-size: 1rem;
}

.pitches {

}

.pitches-total {
  font-size: 3rem
}

.pitches-inn {
  font-size: 1rem
}

.controls {
  position: absolute;
  right: 10px;
  top: 7px;
}

.controls button {
  outline: 0;
  width: 30px;
  color: #008dff;
  cursor: pointer;
  display: block;
  padding: 11px 0;
  vertical-align: middle;
  border: 0;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.controls button[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}

.controls button:first-child {
  border-bottom: 1px solid #fff;
  background-image: url(../../assets/counter/up.svg);
}

.controls button:last-child {
  border-top: 1px solid #ccc;
  background-image: url(../../assets/counter/down.svg);
}
